
.Line{
    background: #61deff;
    text-align: center;
    justify-content: center;
    height: 25px;
}

.H-opt{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.l-opt{
    margin-top: 10px;
    display: flex;
}

.l-opt h3{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.H-opt ul{
    margin-top: 30px;
    display: flex;
    margin-right: 40px;
}



.Link{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.private-nav-opt{
    display: flex;
}

.private-nav-opt h3{
    display: flex;
}

.private-nav-opt button {
    height: 30px;
    width: 60px;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 15px;
    color:black;
    font-size: 10px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
